{% extends 'osj/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">News</div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="static/osj/images/53.jpg" alt="" /></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7 animate-box">
                        <a href="single.html" class="fh5co_magna py-2"> কর্মসংস্থান তৈরিতে ২ হাজার কোটি টাকা ঋণ দিচ্ছে বিশ্বব্যাংক </a> <a href="#" class="fh5co_mini_time py-3"> Sajal -
                            28 March , 2021 </a>
                        <div class="fh5co_consectetur">করোনায় ক্ষতিগ্রস্ত প্রতিষ্ঠানের কর্মসংস্থান ধরে রাখতে ২৫ কোটি ডলার ঋণ দেবে বিশ্বব্যাংক। বর্তমান বাজারদরে টাকার পরিমাণ ২ হাজার ১২৫ কোটি টাকা। এই টাকা দিয়ে বিদ্যমান কর্মসংস্থান ধরে রাখার পাশাপাশি নতুন কর্মসংস্থান তৈরি করে করোনায়
                            ক্ষতিগ্রস্ত অর্থনীতি পুনরুদ্ধার করা হবে। বিশ্বব্যাংকের থার্ড প্র্যাগমেটিক জবস ডেভেলপমেন্ট পলিসি ক্রেডিটের তৃতীয় কিস্তি হিসেবে অর্থ দেওয়া হচ্ছে।
                        </div>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="static/osj/images/54.jpg" alt="" /></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <a href="single.html" class="fh5co_magna py-2"> মুঠোফোনই এখন ব্যাংক, দ্রুত বাড়ছে গ্রাহক </a> <a href="#" class="fh5co_mini_time py-3"> Sajal -
                    28 March , 2021 </a>
                        <div class="fh5co_consectetur"> মোবাইলে আর্থিক সেবা (এমএফএস) এখন প্রতি মুহূর্তের আর্থিক প্রয়োজনে অপরিহার্য অংশ হয়ে উঠেছে। হাতের মুঠোফোনটিই এখন দৈনন্দিন নানা প্রয়োজনে নগদ টাকার চাহিদা মেটাচ্ছে। দেশের জনগোষ্ঠীর বড় একটি অংশ এমএফএস সেবার গ্রাহক। সর্বশেষ গত জানুয়ারি
                            মাসের তথ্য অনুযায়ী, দেশে বর্তমানে এমএফএস সেবার গ্রাহক প্রায় ১৪ কোটি। যদিও সক্রিয় ব্যবহারকারী পাঁচ কোটির কাছাকাছি। ১২ কোটি প্রাপ্তবয়স্ক নাগরিকের দেশে এ সংখ্যা নেহাত কম নয়।
                        </div>

                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img">
                                <img src="static/osj/images/55.jpg" alt="" />
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <a href="single.html" class="fh5co_magna py-2"> ৪৭ হাজার কোটি টাকা দাঁড়াল রপ্তানি উন্নয়ন তহবিল </a> <a href="#" class="fh5co_mini_time py-3"> Sajal -
                    28 March , 2021</a>
                        <div class="fh5co_consectetur">চাহিদা বৃদ্ধি পাওয়ায় আবারও রপ্তানি উন্নয়ন তহবিলের (ইডিএফ) আকার ৫০০ কোটি ডলার থেকে বাড়িয়ে ৫৫০ কোটি ডলার করেছে কেন্দ্রীয় ব্যাংক। অর্থাৎ এই তহবিলে যুক্ত হয়েছে আরও ৫০ কোটি ডলার। দেশীয় মুদ্রায় সব মিলিয়ে তহবিলটির আকার দাঁড়াল ৪৬ হাজার
                            ৭৫০ কোটি টাকা।
                        </div>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="static/osj/images/56.jpg" alt="" /></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <a href="single.html" class="fh5co_magna py-2"> ১৩ খাতে বিশ্বের শীর্ষ দশের তালিকায় বাংলাদেশ </a> <a href="#" class="fh5co_mini_time py-3"> Sajal -
                    28 March , 2021</a>
                        <div class="fh5co_consectetur"> আয়তনে ছোট এবং বেশ ঘনবসতিপূর্ণ হলেও বাংলাদেশ স্বাধীনতা–পরবর্তী ৫০ বছরে সীমিত সাধ্য নিয়েই অন্তত ১৩টি ক্ষেত্রে বিশ্বের দরবারে গৌরবোজ্জ্বল ও ঈর্ষণীয় অবস্থান তৈরি করেছে। এসব খাতে বাংলাদেশ বিশ্বে শীর্ষ ১০ দেশের তালিকায় রয়েছে। কিছু
                            ক্ষেত্রে প্রাকৃতিক সুবিধা পেয়েছে বাংলাদেশ। বাকিগুলো কষ্ট করে অর্জন করতে হয়েছে।
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tags</div>
                </div>
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
                    <a href="#" class="fh5co_tagg">Business</a>
                    <a href="#" class="fh5co_tagg">Technology</a>
                    <a href="#" class="fh5co_tagg">Sport</a>
                    <a href="#" class="fh5co_tagg">Art</a>
                    <a href="#" class="fh5co_tagg">Lifestyle</a>
                    <a href="#" class="fh5co_tagg">Three</a>
                    <a href="#" class="fh5co_tagg">Photography</a>
                    <a href="#" class="fh5co_tagg">Lifestyle</a>
                    <a href="#" class="fh5co_tagg">Art</a>
                    <a href="#" class="fh5co_tagg">Education</a>
                    <a href="#" class="fh5co_tagg">Social</a>
                    <a href="#" class="fh5co_tagg">Three</a>
                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Most Popular</div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="static/osj/images/40.jpg" alt="img" class="fh5co_most_trading" />
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font">অভিষেকেই নাসুমের জোড়া আঘাত</div>
                        <div class="most_fh5co_treding_font_123"> 28 March , 2021</div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="static/osj/images/43.jpg" alt="img" class="fh5co_most_trading" />
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font">সিরাজগঞ্জে দুই ট্রাকের সংঘর্ষে বিস্ফোরণ, অগ্নিদগ্ধ হয়ে চালকের মৃত্যু</div>
                        <div class="most_fh5co_treding_font_123"> 28 March , 2021</div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="static/osj/images/44.jpg" alt="img" class="fh5co_most_trading" />
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"> ঢাকা ত্যাগ করে মোদি জানালেন ‘ধন্যবাদ’</div>
                        <div class="most_fh5co_treding_font_123"> 28 March , 2021</div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center"><img src="static/osj/images/45.jpg" alt="img" class="fh5co_most_trading" /></div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font">ভাঙ্গা থানায় হেফাজতের হামলা, পুলিশের রাবার বুলেট</div>
                        <div class="most_fh5co_treding_font_123"> 28 March , 2021</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col-12 text-center pb-4 pt-4">
                <a href="#" class="btn_mange_pagging"><i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp; Previous</a>
                <a href="#" class="btn_pagging">1</a>
                <a href="#" class="btn_pagging">2</a>
                <a href="#" class="btn_pagging">3</a>
                <a href="#" class="btn_pagging">...</a>
                <a href="#" class="btn_mange_pagging">Next <i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp; </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}