{% extends 'osj/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">News</div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="static/osj/images/49.jpg" alt="" /></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7 animate-box">
                        <a href="single.html" class="fh5co_magna py-2"> টিকা নেওয়ার পরও কেন করোনা হয়? </a> <a href="#" class="fh5co_mini_time py-3"> Sajal -
                            28 March , 2021 </a>
                        <div class="fh5co_consectetur"> সম্প্রতি আমাদের দেশে এবং ইউরোপ-আমেরিকাসহ বিশ্বের বিভিন্ন দেশে দেখা যায় করোনার টিকা গ্রহণেরও পরও বেশ কিছু ব্যক্তি করোনায় আক্রান্ত হচ্ছেন। এটা আমাদের সচকিত করছে। কারণ, আমরা এটাই জেনে এসেছি যে টিকার প্রথম ডোজ নেওয়ার পর সপ্তাহ
                            দুয়েকের মধ্যে সুরক্ষা পাওয়া যায়। শরীরে কার্যকর অ্যান্টিবডি তৈরি হয়। এর এক-দুই মাস পর বুস্টার ডোজ নেওয়ার দিন দশেকের মধ্যে দীর্ঘমেয়াদি পূর্ণ সুরক্ষা পাওয়া যায়। তাহলে কেন টিকা গ্রহণের পরও কারও কারও করোনা হচ্ছে? এ প্রশ্নটি
                            প্রাসঙ্গিক এবং বিশেষ অনুসন্ধানের দাবি রাখে।
                        </div>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="static/osj/images/50.jpg" alt="" /></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <a href="single.html" class="fh5co_magna py-2">মহামারি ঠেকাতে বৈশ্বিক প্রতিরোধ দরকার </a> <a href="#" class="fh5co_mini_time py-3"> Sajal -
                            28 March , 2021 </a>
                        <div class="fh5co_consectetur">কোভিড-১৯ ভ্যাকসিনের কার্যক্রম বিশ্বজুড়ে গতি পাচ্ছে। এ ক্রমবর্ধমান গতিকে কাজে লাগিয়ে বিশ্বনেতাদের সামনে জনস্বাস্থ্যের ভবিষ্যতের দিকে আরও বেশি নজর দেওয়ার সুযোগ এসেছে। অভ্যন্তরীণ উদ্যোগে এবং জি-২০, জি-৭ এবং জি-৭৭-এর মতো বহুপক্ষীয়
                            সংস্থার মাধ্যমে কোভিড-১৯ কে রুখে দেওয়ার কাঠামোকে শক্তিশালী করার সময় এসেছে।
                        </div>

                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img">
                                <img src="static/osj/images/51.jpg" alt="" />
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <a href="single.html" class="fh5co_magna py-2">চট্টগ্রামে ৩৫৩ জনের করোনা শনাক্ত </a> <a href="#" class="fh5co_mini_time py-3"> Sajal -
                    28 March , 2021  </a>
                        <div class="fh5co_consectetur"> চট্টগ্রামে নতুন করে আরও ৩৫৩ জনের করোনা শনাক্ত হয়েছে। গতকাল শুক্র থেকে আজ শনিবার সকাল ৮টা পর্যন্ত সিভিল সার্জন কার্যালয়ের সর্বশেষ ২৪ ঘণ্টার প্রতিবেদনে এ তথ্য জানা গেছে। তবে একই সময়ে নতুন করে কোনো মৃত্যুর ঘটনা ঘটেনি।
                        </div>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="static/osj/images/52.jpg" alt="" /></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <a href="single.html" class="fh5co_magna py-2"> দেশে ২৪ ঘণ্টায় করোনায় মৃত্যু ৩৪, আক্রান্ত ৩৫৮৭ : স্বাস্থ্য অধিদপ্তর </a> <a href="#" class="fh5co_mini_time py-3"> Sajal -
                    28 March , 2021  </a>
                        <div class="fh5co_consectetur"> নভেল করোনাভাইরাসে আক্রান্ত হয়ে গত ২৪ ঘণ্টায় দেশে আরও ৩৪ জনের মৃত্যু হয়েছে। এ নিয়ে মৃতের সংখ্যা বেড়ে আট হাজার ৭৯৭ জনে দাঁড়িয়েছে। এ ছাড়া দেশে নতুন করে আরও তিন হাজার ৫৮৭ জন করোনায় আক্রান্ত শনাক্ত হয়েছে। এখন পর্যন্ত দেশে মোট পাঁচ
                            লাখ ৮৪ হাজার ৩৯৫ জন করোনায় আক্রান্ত হয়েছে। গত ২৪ ঘণ্টায় করোনা থেকে সুস্থ হয়েছে এক হাজার ৯৮৫ জন। এ নিয়ে দেশে মোট পাঁচ লাখ ২৯ হাজার ৮৯৪ জন করোনা থেকে সুস্থ হলো।
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tags</div>
                </div>
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
                    <a href="#" class="fh5co_tagg">Business</a>
                    <a href="#" class="fh5co_tagg">Technology</a>
                    <a href="#" class="fh5co_tagg">Sport</a>
                    <a href="#" class="fh5co_tagg">Art</a>
                    <a href="#" class="fh5co_tagg">Lifestyle</a>
                    <a href="#" class="fh5co_tagg">Three</a>
                    <a href="#" class="fh5co_tagg">Photography</a>
                    <a href="#" class="fh5co_tagg">Lifestyle</a>
                    <a href="#" class="fh5co_tagg">Art</a>
                    <a href="#" class="fh5co_tagg">Education</a>
                    <a href="#" class="fh5co_tagg">Social</a>
                    <a href="#" class="fh5co_tagg">Three</a>
                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Most Popular</div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="static/osj/images/40.jpg" alt="img" class="fh5co_most_trading" />
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font">অভিষেকেই নাসুমের জোড়া আঘাত</div>
                        <div class="most_fh5co_treding_font_123"> 28 March , 2021</div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="static/osj/images/43.jpg" alt="img" class="fh5co_most_trading" />
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font">সিরাজগঞ্জে দুই ট্রাকের সংঘর্ষে বিস্ফোরণ, অগ্নিদগ্ধ হয়ে চালকের মৃত্যু</div>
                        <div class="most_fh5co_treding_font_123"> 28 March , 2021</div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="static/osj/images/44.jpg" alt="img" class="fh5co_most_trading" />
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"> ঢাকা ত্যাগ করে মোদি জানালেন ‘ধন্যবাদ’</div>
                        <div class="most_fh5co_treding_font_123"> 28 March , 2021</div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center"><img src="static/osj/images/45.jpg" alt="img" class="fh5co_most_trading" /></div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font">ভাঙ্গা থানায় হেফাজতের হামলা, পুলিশের রাবার বুলেট</div>
                        <div class="most_fh5co_treding_font_123"> 28 March , 2021</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0 animate-box" data-animate-effect="fadeInUp">
            <div class="col-12 text-center pb-4 pt-4">
                <a href="#" class="btn_mange_pagging"><i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp; Previous</a>
                <a href="#" class="btn_pagging">1</a>
                <a href="#" class="btn_pagging">2</a>
                <a href="#" class="btn_pagging">3</a>
                <a href="#" class="btn_pagging">...</a>
                <a href="#" class="btn_mange_pagging">Next <i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp; </a>
            </div>
        </div>
    </div>
  </div>
{% endblock content %}