{% extends 'osj/base.html' %}
{% load static %}
{% block content %}
<div id="fh5co-title-box" style="background-image: url(static/osj/images/20..jpg); background-position: 50% 90.5px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="page-title">
        <img src="static/osj/person_1.jpg" alt="Free HTML5 by FreeHTMl5.co">
        <span>22 March, 2021</span>
        <h2>আইপিএলে মোস্তাফিজের দরজা খুলে দিল ভারত-ইংল্যান্ড সিরিজ</h2>
    </div>
</div>
<div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <p>
                    মোস্তাফিজুর রহমান কি আইপিএলে খেলতে যাবেন?
                </p>

                <p>
                    এখনো উত্তর মেলেনি। আইপিএল চলার সময় শ্রীলঙ্কার বিপক্ষে বাংলাদেশের টেস্ট সিরিজ আছে বলেই যত সংশয়। মোস্তাফিজ নিজে অবশ্য নিউজিল্যান্ড সফরে যাওয়ার অনেক আগেই জানিয়ে দিয়েছেন, শ্রীলঙ্কার বিপক্ষে দলে নির্বাচিত হলে তিনি বাংলাদেশ দলের হয়েই খেলবেন, আইপিএলে যাবেন না।
                    এখনো আইপিএলের জন্য ছুটি চাননি বাঁহাতি পেসার, বাংলাদেশ ক্রিকেট বোর্ডেরও তাই এখনো মোস্তাফিজের আইপিএল খেলা না খেলা নিয়ে কোনো কথা বলতে হচ্ছে না।
                </p>
                তবে শেষ পর্যন্ত যদি আইপিএলে খেলতে যান মোস্তাফিজ, সে ক্ষেত্রে এবার আইপিএলে মাঠে নামার সুযোগ কিছুটা বেড়েছে তাঁর। বেড়েছে ভারতের বিপক্ষে ইংল্যান্ডের পাঁচ ম্যাচের টি-টোয়েন্টি সিরিজের শেষ ম্যাচটি গতকাল হয়ে যাওয়ার পর।
                <p>
                    কীভাবে? আইপিএলে মোস্তাফিজের ফ্র্যাঞ্চাইজি রাজস্থান রয়্যালসের ইংলিশ ফাস্ট বোলার জফরা আর্চার ডান কনুইয়ের চোটে পড়েছেন। ভারতের বিপক্ষে ওয়ানডে সিরিজে তো খেলবেনই না, আর্চারকে আইপিএলের শুরুর দিকেও বেশ কিছুদিন পাওয়া যাবে না বলে শোনা যাচ্ছে। তেমনটা হলে মোস্তাফিজের
                    খেলার সুযোগ তো বাড়বেই!
                </p>
                <p>ভারতের ফ্র্যাঞ্চাইজি টি-টোয়েন্টি টুর্নামেন্টটির সঙ্গে সূচিতে বাধছে শ্রীলঙ্কার সঙ্গে বাংলাদেশের টেস্ট সিরিজের। সে সময়ে টেস্ট না খেলে সাকিব আল হাসানের আইপিএল খেলতে চাওয়া নিয়ে বিতর্ক থামছেই না। গতকাল সাকিব ফেসবুক লাইভে আসার পর এ নিয়ে
                    বিতর্ক যেন আরও বেড়েছে। সাকিবের বক্তব্যের পর বিসিবি আজ আবার সভায় বসেছে, সভার পর কথা বলেছেন বিসিবির ক্রিকেট পরিচালনা বিভাগের প্রধান আকরাম খান ও হাই পারফরম্যান্স ইউনিটের প্রধান নাইমুর রহমান।</p>
                <p>
                    এর মধ্যে এল আর্চারের চোটের খবর, যা দৃশ্যত মোস্তাফিজের আইপিএলে মাঠে নামার সুযোগ বাড়িয়ে দেবে। ২৩ মার্চ থেকে ভারতের বিপক্ষে শুরু তিন ওয়ানডের সিরিজের জন্য আজ ১৪ সদস্যের দল ঘোষণা করেছে ইংল্যান্ড ক্রিকেট বোর্ড (ইসিবি), সে দলে নেই আর্চার। ইংলিশ পেসার চোটটা নিয়েই
                    ভারত সফরে খেলে যাচ্ছিলেন, টি-টোয়েন্টি সিরিজে তা বেড়েছে। গতকাল শেষ ম্যাচ জিতে ভারত সিরিজটা ৩-২ ব্যবধানে সিরিজ জেতার পর ইসিবি জানিয়েছে, আর্চার চোটের পুনর্বাসনের জন্য ইংল্যান্ডে ফিরে যাচ্ছেন।
                </p>
                <p>
                    সেই সংবাদ বিজ্ঞপ্তিতেই রাজস্থান রয়্যালসের জন্য দুঃসংবাদ দিয়েছে ইসিবি। বিবৃতিতে লেখা, ‘ইংল্যান্ডের মেডিক্যাল টিম খেলোয়াড়ের চোটের অবস্থা পর্যবেক্ষণ করবে, এরপর জফরার সঙ্গে মিলে একটা চিকিৎসার পরিকল্পনা ও খেলায় ফেরার সূচি ঠিক করবে। আর সেসব মিলিয়ে এ বছরের ইন্ডিয়ান
                    প্রিমিয়ার লিগের (আইপিএল) শুরুর দিকের কিছু অংশে থাকতে পারবেন না জফরা।’ ২০২০ আইপিএলে রাজস্থান সবার নিচে থেকে গ্রুপ পর্ব থেকে বাদ গেলেও আর্চার ছিলেন উজ্জ্বল। ১৪ ম্যাচে ২০ উইকেট নিয়ে হয়েছিলেন টুর্নামেন্টে রাজস্থানের সর্বোচ্চ উইকেটশিকারি,
                    সব দল মিলিয়ে টুর্নামেন্টে উইকেটশিকারির তালিকায় ছিলেন ৭ নম্বরে।
                </p>
                <p>
                    তাঁর মতো একজন ফাস্ট বোলারের বিকল্প খুঁজে নেওয়া তো আর সহজ হবে না রাজস্থানের জন্য। তবে আর্চার চোটে পড়ায় মোস্তাফিজের খেলার সুযোগ কাগজে-কলমে অন্তত বাড়ছে। যদি মোস্তাফিজ শেষ পর্যন্ত আইপিএলে যান আর কী! এবার নিলামে রাজস্থান বাংলাদেশের মোস্তাফিজের পাশাপাশি কিনেছে
                    দক্ষিণ আফ্রিকান পেসার-অলরাউন্ডার ক্রিস মরিসকে। ইংল্যান্ডের পেস বোলিং অলরাউন্ডার বেন স্টোকস তো আছেনই! দলে আছেন অস্ট্রেলিয়ার ফাস্ট বোলার অ্যান্ড্রু টাই, ভারতীয় বাঁহাতি পেসার জয়দেব উনাদকাট ও ডানহাতি মিডিয়াম পেসার মানান ভোহরা। এর বাইরে
                    ‘বিদেশি’ কোটায় খেলার মতো ছিলেন জস বাটলার, লিয়াম লিভিংস্টোন ও ডেভিড মিলার।
                </p>
                <p>
                    বিশেষজ্ঞ পেসারদের মধ্যে আর্চারও বিদেশি কোটায় খেলতেন, মোস্তাফিজও তো ছিলেন বিদেশি কোটায়ই! ব্যাটসম্যান কোটায় বাটলার আর অলরাউন্ডার কোটায় মরিস-স্টোকস তো এমনিতেই সুযোগ পাওয়ার কথা। ধারণা করা হচ্ছিল, আর্চার হতেন রাজস্থানের চতুর্থ বিদেশি। সে কারণেই আর্চারের বাদ
                    পড়া মোস্তাফিজের জন্য ‘সুযোগ’ হয়ে আসার কথা ছিল।
                </p>
                <p>
                    যদি মোস্তাফিজ আইপিএলে খেলেন, তাহলে!


                </p>
            </div>

            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Tags</div>
                </div>
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
                    <a href="#" class="fh5co_tagg">Business</a>
                    <a href="#" class="fh5co_tagg">Technology</a>
                    <a href="#" class="fh5co_tagg">Sport</a>
                    <a href="#" class="fh5co_tagg">Art</a>
                    <a href="#" class="fh5co_tagg">Lifestyle</a>
                    <a href="#" class="fh5co_tagg">Three</a>
                    <a href="#" class="fh5co_tagg">Photography</a>
                    <a href="#" class="fh5co_tagg">Lifestyle</a>
                    <a href="#" class="fh5co_tagg">Art</a>
                    <a href="#" class="fh5co_tagg">Education</a>
                    <a href="#" class="fh5co_tagg">Social</a>
                    <a href="#" class="fh5co_tagg">Three</a>
                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4">Most Popular</div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        --
                        <img src="static/osj/images/21.jpg" alt="img" class="fh5co_most_trading" />
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"> Magna aliqua ut enim ad minim veniam quis nostrud.</div>
                        <div class="most_fh5co_treding_font_123"> April 18, 2016</div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="static/osj/images/cp5.jpg" alt="img" class="fh5co_most_trading" />
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"> Enim ad minim veniam nostrud xercitation ullamco.</div>
                        <div class="most_fh5co_treding_font_123"> April 18, 2016</div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center">
                        <img src="static/osj/images/20..jpg" alt="img" class="fh5co_most_trading" />
                    </div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"> Magna aliqua ut enim ad minim veniam quis nostrud.</div>
                        <div class="most_fh5co_treding_font_123"> April 18, 2016</div>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-5 align-self-center"><img src="static/osj/images/cp5.jpg" alt="img" class="fh5co_most_trading" /></div>
                    <div class="col-7 paddding">
                        <div class="most_fh5co_treding_font"> Magna aliqua ut enim ad minim veniam quis nostrud.</div>
                        <div class="most_fh5co_treding_font_123"> April 18, 2016</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Trending</div>
        </div>
        <div class="owl-carousel owl-theme" id="slider2">
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img">
                        <img src="static/osj/images/22.jpg " alt=" " /></div>
                    <div>
                        <a href="" class="d-block fh5co_small_post_heading "><span class=" ">সাকিবের ছুটির সময় ঠিক করেছে বিসিবি–ই</span></a>
                        <div class="c_g "><i class="fa fa-clock-o "></i> 22 March,2021</div>
                    </div>
                </div>
            </div>
            <div class="item px-2 ">
                <div class="fh5co_hover_news_img ">
                    <div class="fh5co_news_img "><img src="static/osj/images/23.jpg " alt=" " /></div>
                    <div>
                        <a href="# " class="d-block fh5co_small_post_heading "><span class=" ">নেতানিয়াহুর বাড়ির সামনে ব্যাপক বিক্ষোভ</span></a>
                        <div class="c_g "><i class="fa fa-clock-o "></i> 22 March,2021</div>
                    </div>
                </div>
            </div>
            <div class="item px-2 ">
                <div class="fh5co_hover_news_img ">
                    <div class="fh5co_news_img "><img src="static/osj/images/25.jpg " alt=" " /></div>
                    <div>
                        <a href="# " class="d-block fh5co_small_post_heading "><span class=" ">ছাত্রলীগের কর্মসূচিতে দুই পক্ষের মারামারি, পাল্টাপাল্টি অভিযোগ</span></a>
                        <div class="c_g "><i class="fa fa-clock-o "></i> 22 March,2021</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}